<ion-header>
    <ion-navbar>
        <ion-title>Publicar Campanha</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>    
    <img src="../../assets/imgs/logoApp.png" alt="My Blood" class="imagemLogo">

    <form (ngSubmit)="setCampaign($event)" [formGroup]="validaFormulario">
    
        <h2 ion-text color="dark" class="h2">Campanha</h2>
        


        
        
        
        <section> <!-- Donation Type -->
            <h3 class="descricoes">Tipo de doação</h3>
            <ion-list radio-group formControlName="campDonateType">
                <ion-item>
                    <ion-label>Sangue</ion-label>
                    <ion-radio value="sangue"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Plaquetas</ion-label>
                    <ion-radio value="plaquetas"></ion-radio>
                </ion-item>
            </ion-list>
        </section>
        
        <section>
        <ion-item class="tiposangue"> <!-- tipo de sangue-->
            <ion-label>Tipo de Sangue</ion-label>
            <ion-select [(ngModel)]="typeblood" formControlName="campBloodType">
                <ion-option value="A+">A+</ion-option>
                <ion-option value="A-">A-</ion-option>
                <ion-option value="B+">B+</ion-option>
                <ion-option value="B-">B-</ion-option>
                <ion-option value="AB+">AB+</ion-option>
                <ion-option value="AB-">AB-</ion-option>
                <ion-option value="O+">O+</ion-option>
                <ion-option value="O-">O-</ion-option>
            </ion-select>
        </ion-item>  
    </section>

        <section> <!-- Limit Date -->
            <h3 class="descricoes">Data limite</h3>
            <ion-item>
                <ion-label>Data</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY"[(ngModel)]="campLimitDate" [ngModelOptions]="{standalone: true}" min="2019" max="2040-10-31"></ion-datetime>
            </ion-item>
        </section>
        
        <h2 ion-text color="dark" class="h2">Hemocentro</h2>
        
        <!-- Hemocenter data -->
        <section>
            <ion-list inset>
                <!-- Name -->
                <ion-item [ngClass]="{ invalid: nomeErrors.hasError('*', ['touched']) }">
                    <ion-input name="campBloodCenter" type="text" placeholder="Nome"
                    formControlName="nome"></ion-input>
                </ion-item>
        
                <div ngxErrors="nome" #nomeErrors="ngxErrors">
                    <div [ngxError]="['maxlength', 'required']" [when]="['touched']">Digite o nome até 15 caracteres
                    </div>
                </div>
                
                <!-- CEP -->
                <ion-item [ngClass]="{ invalid: cepErrors.hasError('*', ['touched']) }"> 
                    <ion-input name="campBloodCenterCEP" type="number" (ionBlur)="getAddress($event)" [(ngModel)]="cep" placeholder="CEP"
                    formControlName="cep"></ion-input>
                </ion-item>
        
                <div ngxErrors="cep" #cepErrors="ngxErrors">
                    <div [ngxError]="['minlength', 'required']" [when]="['touched']">CEP precisa ter 8 caracteres
                    </div>
                </div>
                
                <!-- Address -->
                <ion-item [ngClass]="{ invalid: enderecoErrors.hasError('*', ['touched']) }">
                    <ion-input class="umcampo"name="campBloodCenterAddress" type="text" placeholder="Endereço" [(ngModel)]="logradouro"
                    formControlName="endereco"></ion-input>
                </ion-item>
        
                <div ngxErrors="endereco" #enderecoErrors="ngxErrors">
                    <div [ngxError]="['required']" [when]="['touched']">Preencha com seu endereço
                    </div>
                </div>
                
                <!-- Number -->
                <ion-item [ngClass]="{ invalid: numeroErrors.hasError('*', ['touched']) }">
                    <ion-input type="number" name="campBloodCenterAddressNum" placeholder="Numero"
                    formControlName="numero"></ion-input>
                </ion-item>
        
                <div ngxErrors="numero" #numeroErrors="ngxErrors">
                    <div [ngxError]="['required']" [when]="['touched']">Preencha com seu número
                    </div>
                </div>
                
                <!-- City -->
                <ion-item [ngClass]="{ invalid: cidadeErrors.hasError('*', ['touched']) }">
                    <ion-input class="umcampo"  name="campBloodCenterCity" type="text" placeholder="Cidade" [(ngModel)]="cidade"
                    formControlName="cidade"></ion-input>
                </ion-item>
        
                <div ngxErrors="cidade" #cidadeErrors="ngxErrors">
                    <div [ngxError]="['required']" [when]="['touched']">Preencha com sua cidade
                    </div>
                </div>
            
                
                <!-- State -->
                <ion-item [ngClass]="{ invalid: ufErrors.hasError('*', ['touched']) }" >
                    
                        <ion-input name="campBloodCenterState" minlength="2" maxlength="2" type="text" placeholder="UF" [(ngModel)]="uf"
                        formControlName="uf"></ion-input>
                     
                </ion-item>
        
                <div ngxErrors="uf" #ufErrors="ngxErrors">
                    <div [ngxError]="['required']" [when]="['touched']">Digite a sigla do seu estado em letras maiúscula
                    </div>
                </div>
            </ion-list>
        </section>
        
        <h1 ion-text color="dark" class="h1">Contato</h1>
        <section class="section-dados-divulgador">
            <h3 class="descricoes">Mostrar menu</h3>
            <div *ngFor="let user of userData | async">

                <!-- If user has name registered -->
                <ion-item *ngIf="user.userName && (user.userName != '')">
                    <ion-toggle [(ngModel)]="mostrarcampPromoterName" [ngModelOptions]="{standalone: true}" checked></ion-toggle>
                    <ion-label>Nome</ion-label>

                    <!-- hidden on interface -->
                    <ion-input type="text" placeholder="Nome" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userName" name="campPromoterName" class="hidden"></ion-input>
                </ion-item>

                <!-- If user has e-mail registered -->
                <ion-item *ngIf="user.userEmail && (user.userEmail != '')">
                    <ion-toggle [(ngModel)]="mostrarcampPromoterEmail" [ngModelOptions]="{standalone: true}" checked></ion-toggle>
                    <ion-label>E-mail</ion-label>

                    <!-- hidden on interface -->
                    <ion-input type="text" placeholder="E-mail" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userEmail" name="campPromoterEmail" class="hidden"></ion-input>
                </ion-item>

                <!-- If user has phone registered -->
                <ion-item *ngIf="user.userPhone && (user.userPhone != '')">
                    <ion-toggle [(ngModel)]="mostrarcampPromoterPhone" [ngModelOptions]="{standalone: true}" checked></ion-toggle>
                    <ion-label>Telefone</ion-label>

                    <!-- hidden on interface -->
                    <ion-input type="tel" placeholder="Telefone" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userPhone" name="campPromoterPhone" class="hidden"></ion-input>
                </ion-item>

                <!-- If user has address registered -->
                <ion-item *ngIf="(user.userCEP != '') && (user.userAddress != '') && (user.userAddressNum != '') && (user.userCity != '') && (user.userState != '')">
                    <ion-toggle [(ngModel)]="mostrarcampPromoterAddress" [ngModelOptions]="{standalone: true}" checked></ion-toggle>
                    <ion-label>Endereço</ion-label>
                    
                    <!-- hidden on interface -->
                    <!-- Data will be used to publish campaign -->
                    <ion-input class="hidden" type="number" placeholder="CEP" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userCEP" name="campPromoterCEP"></ion-input>
                    <ion-input class="hidden"name="end" type="text" placeholder="Endereço" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userAddress" name="campPromoterAddress"></ion-input>
                    <ion-input class="hidden" type="number" placeholder="Numero" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userAddressNum" name="campPromoterAddressNum"></ion-input>
                    <ion-input class="hidden" name="endCidade" type="text" placeholder="Cidade" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userCity" name="campPromoterCity"></ion-input>
                    <ion-input class="hidden" type="text" placeholder="UF" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.userState"  name="campPromoterState"></ion-input>
                    
                </ion-item>
            </div>
        </section>
        
        <section> <!-- I'm the patient -->
            <h3 class="descricoes">Eu sou o paciente</h3>
            
            <ion-list radio-group formControlName="campPromoterIsPatient">
                <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="true" (click)="rDesabilitar()"></ion-radio>
                </ion-item>
                
                <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="false" (click)="rHabilitar()"></ion-radio>  
                </ion-item>
            </ion-list>
        </section>
        
        <!-- I Want to indicate a patient -->
        <section id="divHidden" hidden="false">
            <h3 class="descricoes">Quero indicar um paciente</h3>
            
            <ion-list radio-group>
                <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="true" (click)="iHabilitar()"></ion-radio>
                </ion-item>
                
                <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="false" (click)="iDesabilitar()"></ion-radio>  
                </ion-item>
            </ion-list>
        </section>
        
        <!-- Indicate a patient -->
        <section id="campIndicatedPatient" hidden="false">
            <h3 class="descricoes">Indique um paciente</h3>
            <ion-item>
                <ion-input class="umcampo" name="" maxlength="45" type="text" placeholder="Digite aqui o nome do paciente" name="campIndicatedPatient"></ion-input>
            </ion-item>
        </section>

        <!-- Observations-->
        <div>
            <div class="descricoes">Observações</div>
            <ion-item [ngClass]="{ invalid: obsErrors.hasError('*', ['touched']) }">
                <ion-textarea rows="2" cols="20"
                formControlName="obs" name="campObservations"></ion-textarea>
            </ion-item>
            <div ngxErrors="obs" #obsErrors="ngxErrors">
                <div [ngxError]="['maxlength', 'required']" [when]="['touched']">Este campo não deve ultrapassar 200
                    caracteres
                </div>
            </div>
        </div>
        

        
        <!-- Publish button -->
        <button ion-button full type="submit" [disabled]="!validaFormulario.valid">Publicar <ion-icon class="icon" name="heart"></ion-icon></button>
        
    </form>
</ion-content>
