<ion-header>
    <ion-navbar>
        <ion-title>Visualizar Campanhas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-list>
        <ion-list-header>
            <h2>Filtro</h2>
        </ion-list-header>
        
        <!-- Campaign filter-->
        <form (ngSubmit)="filterCampaign($event)">
            <section> 
                <ion-list>
                    <ion-item> <!-- nome dos estados-->
                        <ion-label>UF</ion-label>
                        <ion-select [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                            <ion-option value="AC">Acre</ion-option>
                            <ion-option value="AL">Alagoas</ion-option>
                            <ion-option value="AP">Amapá</ion-option>
                            <ion-option value="AM">Amazonas</ion-option>
                            <ion-option value="BA">Bahia</ion-option>
                            <ion-option value="CE">Ceará</ion-option>
                            <ion-option value="DF">Distrito Federal</ion-option>
                            <ion-option value="ES">Espírito Santo</ion-option>
                            <ion-option value="GO">Goiás</ion-option>
                            <ion-option value="MA">Maranhão</ion-option>
                            <ion-option value="MT">Mato Grosso</ion-option>
                            <ion-option value="MS">Mato Grosso do Sul</ion-option>
                            <ion-option value="MG">Minas Gerais</ion-option>
                            <ion-option value="PA">Pará</ion-option>
                            <ion-option value="PB">Paraíba</ion-option>
                            <ion-option value="PR">Paraná</ion-option>
                            <ion-option value="PE">Pernambuco</ion-option>
                            <ion-option value="PI">Piauí</ion-option>
                            <ion-option value="RJ">Rio de Janeiro</ion-option>
                            <ion-option value="RN">Rio Grande do Norte</ion-option>
                            <ion-option value="RS">Rio Grande do Sul</ion-option>
                            <ion-option value="RO">Rondônia</ion-option>
                            <ion-option value="RR">Roraima</ion-option>
                            <ion-option value="SC">Santa Catarina</ion-option>
                            <ion-option value="SP">São Paulo</ion-option>
                            <ion-option value="SE">Sergipe</ion-option>
                            <ion-option value="TO">Tocantins</ion-option>
                        </ion-select>
                    </ion-item>    

                    <ion-item> <!-- nome dos estados-->
                        <ion-label>Tipo de Sangue</ion-label>
                        <ion-select [(ngModel)]="typeblood" [ngModelOptions]="{standalone: true}">
                            <ion-option value="A+">A+</ion-option>
                            <ion-option value="A-">A-</ion-option>
                            <ion-option value="B+">B+</ion-option>
                            <ion-option value="B-">B-</ion-option>
                            <ion-option value="AB+">AB+</ion-option>
                            <ion-option value="AB-">AB-</ion-option>
                            <ion-option value="O+">O+</ion-option>
                            <ion-option value="O-">O-</ion-option>
                        </ion-select>
                    </ion-item>  


                    
                    <ion-item> <!-- nome da cidade-->
                        <ion-label fixed>Cidade</ion-label>
                        <ion-input type="text" value="" name="cidade"></ion-input>
                    </ion-item>  

                </ion-list>
            </section>
            <button class="btn-pesquisar" ion-button full type="submit">Pesquisar <ion-icon name="search"></ion-icon></button>
        </form>
        
        <h1 class="main-title">Campanhas</h1>
        

        <ion-card *ngFor="let campaign of campaigns | async" class="js-item-doacao">
            <div class="card-map" attr.data-address="{{ campaign.campBloodCenterAddress }}, {{ campaign.campBloodCenterAddressNum }} - {{ campaign.campBloodCenterCity }} - {{ campaign.campBloodCenterState }}" (click)="initMap($event)">Clique para visualizar a localização no mapa</div>
            
            <ion-item>
                <ion-icon name="contact" item-start large></ion-icon>
                <h2 class="tipo-doacao"><span *ngIf="campaign.campDonateType == 'sangue'">Sangue</span><span *ngIf="campaign.campDonateType == 'plaquetas'">Plaquetas</span> <span class="tipo-sangue">{{ campaign.campBloodType }}</span> </h2>
                <p *ngIf="campaign.campIndicatedPatient || campaign.campPromoterIsPatient">Paciente: {{ campaign.campIndicatedPatient }}<span *ngIf="campaign.campPromoterIsPatient && !(campaign.campIndicatedPatient)">{{ campaign.campPromoterName }}</span></p>
            </ion-item>
            
            <ion-item>
                <ion-icon name="medkit" item-start large ></ion-icon>
                <p>{{ campaign.campBloodCenterAddress }}, {{ campaign.campBloodCenterAddressNum }}<p>
                <p>{{campaign.campBloodCenterCity }} - {{ campaign.campBloodCenterState }}</p>
            </ion-item>
                
            <ion-item class="row-btn">
                <button ion-button class="btn-circle">
                    <ion-icon name="heart" class="icon"></ion-icon>
                </button>
                
                <button ion-button (click)="viewMore($event)" class="btn-circle">
                    <ion-icon name="add-circle" class="icon"></ion-icon>
                </button>
            </ion-item>
            
            
            <ion-item class="doacao-info" text-wrap>
                <p class="info-title" *ngIf="campaign.emailHemocentro">E-mail do hemocentro</p>
                <p class="info" *ngIf="campaign.emailHemocentro">{{campaign.emailHemocentro}}</p>
                <p class="info-title" *ngIf="campaign.telHemocentro">Telefone do hemocentro</p>
                <p class="info" *ngIf="campaign.telHemocentro">{{ campaign.telHemocentro }}</p>
                <p class="info-title" *ngIf="campaign.campBloodCenterCEP">CEP do hemocentro</p>
                <p class="info" *ngIf="campaign.campBloodCenterCEP">{{ campaign.campBloodCenterCEP }}</p>
                <p class="info-title" *ngIf="campaign.campBloodCenter">Nome do hemocentro/hospital</p>
                <p class="info" *ngIf="campaign.campBloodCenter">{{campaign.campBloodCenter}}</p>
                <p class="info-title" *ngIf="campaign.campIndicatedPatient">Nome do Paciente</p>
                <p class="info" *ngIf="campaign.campIndicatedPatient">{{ campaign.campIndicatedPatient}}</p>
                <p class="info-title" *ngIf="campaign.campPromoterName">Nome do Divulgador</p>
                <p class="info" *ngIf="campaign.campPromoterName">{{ campaign.campPromoterName}}</p>
                <p class="info-title" *ngIf="campaign.campPromoterIsPatient">Divulgador é o paciente? </p>
                <p class="info" *ngIf="campaign.campPromoterIsPatient">Sim</p>
                <p class="info-title" *ngIf="campaign.campPromoterEmail">E-mail do divulgador</p>
                <p class="info" *ngIf="campaign.campPromoterEmail">{{campaign.campPromoterEmail}}</p>
                <p class="info-title" *ngIf="campaign.campPromoterPhone">Telefone do divulgador</p>
                <p class="info" *ngIf="campaign.campPromoterPhone">{{ campaign.campPromoterPhone}}</p>
                <p class="info-title" *ngIf="campaign.campPromoterPhone">Endereço do divulgador</p>
                <p class="info" *ngIf="campaign.campPromoterAddress">{{ campaign.campPromoterAddress}}<span *ngIf="campaign.campPromoterAddressNum">, {{ campaign.campPromoterAddressNum }}</span><span *ngIf="campaign.campPromoterCity"> - {{ campaign.campPromoterCity }}</span><span *ngIf="campaign.campPromoterState"> - {{ campaign.campPromoterState }}</span></p>
                <p class="info-title" *ngIf="campaign.campObservations">Observações</p>
                <p class="info" *ngIf="campaign.campObservations">{{ campaign.campObservations }}</p>
            </ion-item>
            
        </ion-card>
        
    </ion-list>
    
</ion-content>