page-minhas-doacoes {
    ion-card {
        border-radius: 10px!important;
        background: rgb(255, 255, 255) !important;
        margin-bottom: 1.25em!important;
    }
    .btn-add {                
        position: fixed;
        bottom: 15px;
        right: 15px; 
    }
    .btn-delete {
        float: right;
        margin: .5em;
        padding: 0 .5em;
    }
    .infodiv{
        text-align: center;
        font-size: 1.175em;
        margin-bottom: 1.5em;
        p {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    ion-card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}