page-minhas-doacoes {

    ion-card {
        border-radius:30px !important;
        background: rgb(255, 255, 255) !important;
        border-top: 3px solid #e63232;
        border-bottom: 3px solid #e63232;

         
    }

    ion-fab {                
        position: fixed;
        bottom: 5px;
        right: 5px; 
        
        
    }

    .infodiv{
        text-align: center;
    }
}




 