<!--
    Generated template for the MinhasDoacoesPage page.
    
    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Minhas Doações</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="infodiv">
        <p *ngIf="numOfDonations == 0">Você ainda não cadastrou nenhuma doação.</p>
        <p *ngIf="numOfDonations > 0">Você já fez <b>{{ numOfDonations }} <span *ngIf="numOfDonations > 1">doações</span><span *ngIf="numOfDonations == 1">doação</span></b>. <b>Parabéns!</b></p>
        <p *ngIf="numOfDonations > 0">Você pode doar novamente em <b>{{ daysToDonate }}<span *ngIf="daysToDonate > 1"> dias</span><span *ngIf="daysToDonate == 1"> dia</span></b></p>
    </div>
    
    <ion-card *ngFor="let donation of donations">
        <ion-card-content text-wrap>
            <div class="text-div">
                <p><b>Doação de {{ donation.donatType }}</b></p>
                <p>{{ getMS(donation.donatDate.seconds) | date }}</p>
                <p>{{ donation.donatBloodCenter }}</p>
            </div>
            <button ion-button color="danger" class="btn-delete"><ion-icon name="close"></ion-icon></button>
        </ion-card-content>
    </ion-card>

    <ion-fab>
        <button ion-fab color="danger" class="btn-add"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    
</ion-content>
