page-minhas-doacoes {

    ion-card {
        border-radius:30px !important;
        background: rgb(255, 255, 255) !important;
    }

    ion-fab {                
        position: fixed;
        bottom: 5px;
        right: 5px; 
        
        
    }

    .infodiv{
        text-align: center;
    }
}




 